.input {
	font-family: Arial;
	font-size: 11;
	background-color: #FFFFFF;
	border: #7F9DB9;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	text-transform: uppercase;
}

.select {
	font-family: Arial;
	font-size: 11px;
	background-color: #FFFFFF;
	border: #7F9DB9;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}