HTML {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BODY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DIV {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

SPAN {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

IFRAME {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H1 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H2 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H3 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H4 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H5 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H6 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

P {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

BLOCKQUOTE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

PRE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

A {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

CODE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

IMG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

DD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

OL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

UL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

LI {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

FIELDSET {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

FORM {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TABLE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TBODY {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TFOOT {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

THEAD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TR {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TH {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TD {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	PADDING-LEFT: 0px;
	OUTLINE-WIDTH: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: inherit;
	FONT-SIZE: 100%;
	VERTICAL-ALIGN: baseline;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

:focus {
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: 0px
}

OL {
	LIST-STYLE-TYPE: none
}

UL {
	LIST-STYLE-TYPE: none
}

TABLE {
	BORDER-SPACING: 0;
	BORDER-COLLAPSE: separate
}

TH {
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal
}

TD {
	TEXT-ALIGN: left;
	FONT-WEIGHT: normal
}

STRONG {
	FONT-WEIGHT: bold
}

B {
	FONT-WEIGHT: bold
}

BODY {
	LINE-HEIGHT: 1.35em;
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	FONT-SIZE: 14px
}

TEXTAREA {
	LINE-HEIGHT: 1.35em;
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	FONT-SIZE: 14px
}

INPUT {
	LINE-HEIGHT: 1.35em;
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	FONT-SIZE: 14px
}

BUTTON {
	LINE-HEIGHT: 1.35em;
	FONT-FAMILY: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	FONT-SIZE: 14px
}

BODY {
	BACKGROUND-COLOR: #404040;
	COLOR: #323436
}

P {
	MARGIN-BOTTOM: 10px
}

PRE {
	MARGIN: 10px 0px;
	WHITE-SPACE: pre
}

SUP {
	LINE-HEIGHT: 1px;
	MARGIN: 0px 0px 0px -0.35em;
	FONT-SIZE: 0.3em;
	VERTICAL-ALIGN: 1.1em;
	FONT-WEIGHT: bold
}

I SUP {
	MARGIN: 0px 0px 0px -0.1em
}

.hide {
	DISPLAY: none
}

.left {
	FLOAT: left
}

.right {
	FLOAT: right
}

.clear {
	LINE-HEIGHT: 1px;
	HEIGHT: 1px;
	CLEAR: both;
	FONT-SIZE: 1px;
	OVERFLOW: hidden
}

.nopad {
	PADDING-BOTTOM: 0px !important;
	PADDING-LEFT: 0px !important;
	PADDING-RIGHT: 0px !important;
	PADDING-TOP: 0px !important
}

.nomargin {
	MARGIN: 0px
}

.noborder {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px
}

A {
	COLOR: #68bada;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

A:link {
	COLOR: #68bada;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

A:visited {
	COLOR: #68bada;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

A:hover {
	COLOR: #68bada;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

H1 {
	LINE-HEIGHT: 39px;
	FONT-STYLE: normal;
	LETTER-SPACING: -1px;
	COLOR: #8fd401;
	FONT-SIZE: 35px;
	FONT-WEIGHT: bold
}

H2 {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 33px;
	FONT-STYLE: normal;
	MARGIN: 3px 0px 5px;
	LETTER-SPACING: -1px;
	COLOR: #8fd401;
	FONT-SIZE: 30px;
	FONT-WEIGHT: bold;
	font-size-adjust: none
}

H3 {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 25px;
	FONT-STYLE: normal;
	MARGIN: 7px 0px 8px;
	LETTER-SPACING: -1px;
	COLOR: #a2d959;
	FONT-SIZE: 23px;
	FONT-WEIGHT: bold;
	font-size-adjust: none
}

H4 {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 22px;
	FONT-STYLE: normal;
	MARGIN: 3px 0px 8px;
	LETTER-SPACING: 0px;
	COLOR: #454545;
	FONT-SIZE: 20px;
	FONT-WEIGHT: bold;
	font-size-adjust: none
}

H5 {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 14px;
	FONT-STYLE: normal;
	MARGIN: 3px 0px 4px;
	LETTER-SPACING: 0px;
	COLOR: #888;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	font-size-adjust: none
}

#loading {
	Z-INDEX: 10000;
	POSITION: absolute;
	TEXT-ALIGN: center;
	WIDTH: 100%;
	DISPLAY: none;
	TOP: 43%;
	CURSOR: wait;
	LEFT: 0px
}

#loading IMG {
	PADDING-BOTTOM: 20px;
	BACKGROUND-COLOR: #444;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 20px;
	PADDING-TOP: 20px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .4);
	box-shadow: 0 0 7px rgba(0, 0, 0, .4)
}

.message {
	BORDER-BOTTOM: #d8000c 3px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #d8000c 3px solid;
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #ffbaba;
	MARGIN: 10px 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	DISPLAY: block;
	COLOR: #d8000c;
	BORDER-TOP: #d8000c 3px solid;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: #d8000c 3px solid;
	PADDING-TOP: 10px;
	text-shadow: 0 0 2px rgba(255, 255, 255, .4)
}

NOSCRIPT .message {
	BORDER-RIGHT-WIDTH: 0px;
	MARGIN: 0px;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 3px;
	BORDER-LEFT-WIDTH: 0px
}

.message EM {
	COLOR: #111;
	FONT-SIZE: 1.25em;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 4px
}

.message A {
	COLOR: #444 !important;
	MARGIN-LEFT: 8px;
	TEXT-DECORATION: underline !important
}

#master {
	MARGIN: 0px
}

#master .center {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px auto;
	PADDING-LEFT: 0px;
	WIDTH: 940px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

#where {
	BORDER-BOTTOM: #f9e98e 3px solid;
	BACKGROUND-COLOR: #fbf7aa;
	DISPLAY: none
}

#where .center {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	COLOR: #915629;
	FONT-SIZE: 20px;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 5px
}

#where TEXTAREA {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	COLOR: #915629;
	FONT-SIZE: 20px;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 5px
}

#where INPUT {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	COLOR: #915629;
	FONT-SIZE: 20px;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 5px
}

#where BUTTON {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	COLOR: #915629;
	FONT-SIZE: 20px;
	VERTICAL-ALIGN: middle;
	PADDING-TOP: 5px
}

#where .center {
	PADDING-BOTTOM: 12px;
	LINE-HEIGHT: 52px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 12px
}

#where H2 {
	MARGIN: 0px 0px 5px;
	COLOR: #915629
}

#where INPUT {
	TEXT-ALIGN: left
}

#where INPUT.name {
	WIDTH: 200px
}

#where INPUT.url {
	WIDTH: 300px
}

#where INPUT.comments {
	WIDTH: 700px
}

#where BUTTON {
	TEXT-ALIGN: center;
	MARGIN-TOP: 10px;
	WIDTH: 100%;
	DISPLAY: block;
	COLOR: #404040
}

#where .note {
	LINE-HEIGHT: 16px;
	MARGIN-TOP: 13px;
	TEXT-INDENT: 8px;
	COLOR: #666;
	FONT-SIZE: 12px
}

#where .note B {
	COLOR: #454545
}

#header {
	Z-INDEX: 2;
	POSITION: relative;
	BACKGROUND-COLOR: #404040;
	COLOR: white
}

#header .center {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 6px
}

#header IFRAME {
	MARGIN-TOP: 3px
}

#header IMG.logo {
	MARGIN: 0px 40px 0px -5px
}

#header .owl {
	POSITION: relative;
	TOP: 11px;
	LEFT: -28px
}

#header .where {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 7px;
	PADDING-RIGHT: 7px;
	COLOR: #fefefe;
	CURSOR: pointer;
	PADDING-TOP: 5px
}

#header .where A {
	COLOR: #f9e98e
}

#header .where SUP {
	VERTICAL-ALIGN: 1.7em
}

#header .where H2 {
	FONT-SIZE: 27px
}

#header .where SPAN {
	TEXT-ALIGN: right;
	MARGIN: -8px 5px 0px;
	DISPLAY: block;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold
}

.topnav {
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 20px;
	PADDING-TOP: 7px
}

.topnav .center {
	Z-INDEX: 20;
	POSITION: relative;
	HEIGHT: 36px
}

.topnav LI {
	POSITION: relative;
	FLOAT: left;
	FONT-SIZE: 18px;
	MARGIN-RIGHT: 29px
}

.topnav LI.right {
	FLOAT: right
}

.topnav LI A {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #447a00;
	TEXT-DECORATION: none;
	PADDING-TOP: 6px
}

.topnav LI A:link {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #447a00;
	TEXT-DECORATION: none;
	PADDING-TOP: 6px
}

.topnav LI A:visited {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	COLOR: #447a00;
	TEXT-DECORATION: none;
	PADDING-TOP: 6px
}

.topnav LI UL.menu {
	Z-INDEX: 10;
	POSITION: absolute;
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #a2d959;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	TOP: 26px;
	PADDING-TOP: 10px
}

.topnav LI LI {
	MARGIN: 0px 0px 5px;
	FLOAT: none;
	FONT-SIZE: 14px
}

#nav {
	Z-INDEX: 1000;
	BACKGROUND-COLOR: #8fd401;
	WIDTH: 100%;
	TOP: 0px;
	LEFT: 0px
}

.nav-fixed {
	POSITION: fixed
}

#nav .center {
	BACKGROUND:
		url(http://media2.juggledesign.com/qtip2/images//navarrow.png)
		no-repeat -1000em 100%
}

#nav DIV.home {
	BACKGROUND-POSITION: 17px 100%
}

#nav DIV.home A.home {
	COLOR: #323436
}

#nav DIV.features {
	BACKGROUND-POSITION: 108px 100%
}

#nav DIV.features A.features {
	COLOR: #323436
}

#nav DIV.demos {
	BACKGROUND-POSITION: 108px 100%
}

#nav DIV.demos A.demos {
	COLOR: #323436
}

#nav DIV.download {
	BACKGROUND-POSITION: 209px 100%
}

#nav DIV.download A.download {
	COLOR: #323436
}

#nav DIV.donate {
	BACKGROUND-POSITION: 310px 100%
}

#nav DIV.donate A.donate {
	COLOR: #323436
}

#nav DIV.converter {
	BACKGROUND-POSITION: 535px 100%
}

#nav DIV.converter A.converter {
	COLOR: #323436
}

#nav DIV.docs {
	BACKGROUND-POSITION: 675px 100%
}

#nav DIV.docs A.docs {
	COLOR: #323436
}

#nav DIV.tutorials {
	BACKGROUND-POSITION: 805px 100%
}

#nav DIV.tutorials A.tutorials {
	COLOR: #323436
}

#nav DIV.forum {
	BACKGROUND-POSITION: 900px 100%
}

#nav DIV.forum A.forum {
	COLOR: #323436
}

#docsnav {
	POSITION: relative;
	HEIGHT: auto
}

#docsnav .floatright {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #8fd401;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	FLOAT: right;
	MARGIN-RIGHT: 192px;
	PADDING-TOP: 3px
}

#docsnav DIV.one A.one {
	COLOR: #323436
}

#docsnav DIV.two A.two {
	COLOR: #323436
}

#contentheader {
	BORDER-BOTTOM: white 3px solid;
	PADDING-BOTTOM: 15px;
	BACKGROUND-COLOR: #e5f6fe;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 15px
}

.header {
	BORDER-BOTTOM: white 3px solid;
	PADDING-BOTTOM: 15px;
	BACKGROUND-COLOR: #e5f6fe;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 15px
}

#contentheader H1 {
	COLOR: #68bada
}

.header H1 {
	COLOR: #68bada
}

#contentheader H2 {
	COLOR: #454545
}

.header H2 {
	COLOR: #454545
}

#contentheader H3 {
	COLOR: #84c203
}

.header H3 {
	COLOR: #84c203
}

#contentheader H5 {
	COLOR: #555
}

.header H5 {
	COLOR: #555
}

#contentheader .nav LI A {
	COLOR: #30d4e8
}

#contentheader .nav LI A:link {
	COLOR: #30d4e8
}

#contentheader .nav LI A:visited {
	COLOR: #30d4e8
}

.header .nav LI A {
	COLOR: #30d4e8
}

.header .nav LI A:link {
	COLOR: #30d4e8
}

.header .nav LI A:visited {
	COLOR: #30d4e8
}

#contentheader .column {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 20px;
	WIDTH: 420px;
	PADDING-RIGHT: 20px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

.header .column {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 20px;
	WIDTH: 420px;
	PADDING-RIGHT: 20px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

#content {
	BORDER-BOTTOM: #e1e1e1 2px solid;
	BACKGROUND:
		url(http://media2.juggledesign.com/qtip2/images//content_bg.jpg) white
		repeat-x 0px 0px;
	COLOR: #323436
}

#content H3.right {
	COLOR: #68bada
}

#content .center {
	PADDING-BOTTOM: 40px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 20px
}

#content .section {
	PADDING-BOTTOM: 25px
}

#content A.backtop {
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: white;
	MARGIN-TOP: -52px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	COLOR: #454545;
	FONT-SIZE: 14px;
	PADDING-TOP: 0px
}

#content .column {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 20px;
	WIDTH: 420px;
	PADDING-RIGHT: 20px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}

#content .column .block {
	HEIGHT: 185px
}

#content .note {
	MARGIN-TOP: 13px;
	TEXT-INDENT: 8px;
	COLOR: #888;
	FONT-SIZE: 12px
}

#content .note B {
	COLOR: #454545
}

.error {
	BORDER-BOTTOM: 0px
}

.error .center {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.error IMG.owl {
	PADDING-RIGHT: 15px;
	FLOAT: left
}

.error .header {
	BORDER-BOTTOM: 0px
}

.error H2 {
	LINE-HEIGHT: 36px;
	MARGIN: 0px;
	COLOR: #68bada;
	FONT-SIZE: 30px;
	PADDING-TOP: 30px
}

#footer {
	BACKGROUND-COLOR: #404040;
	COLOR: white;
	CLEAR: both
}

#footer .center {
	POSITION: relative;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	PADDING-TOP: 15px
}

#footer .owl {
	TEXT-ALIGN: center;
	MARGIN: -5px 0px 7px 10px
}

#footer H4 {
	LINE-HEIGHT: 19px;
	MARGIN-BOTTOM: 6px;
	COLOR: #fefefe;
	FONT-SIZE: 17px;
	FONT-WEIGHT: bold
}

#footer .border {
	BACKGROUND-COLOR: #323436;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px
}

#footer LI {
	MARGIN-BOTTOM: 3px
}

#footer .links UL {
	MARGIN-BOTTOM: 17px
}

#footer .right {
	MAX-WIDTH: 210px;
	MARGIN-LEFT: 15px
}

#footer .left {
	MARGIN-RIGHT: 46px
}

#footer .title {
	MARGIN: 0px 0px -11px;
	PADDING-LEFT: 10px;
	OVERFLOW: hidden;
	FONT-WEIGHT: bold
}

#footer .info {
	PADDING-BOTTOM: 9px;
	LINE-HEIGHT: 23px;
	MARGIN: 5px 0px 15px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	OVERFLOW: hidden;
	FONT-WEIGHT: normal;
	PADDING-TOP: 9px
}

#footer .info LI {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

#footer .info LI A {
	BORDER-BOTTOM: #404040 1px dotted;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 11px;
	PADDING-RIGHT: 11px;
	DISPLAY: block;
	COLOR: white;
	FONT-WEIGHT: normal;
	PADDING-TOP: 2px
}

#footer .info LI A:hover {
	BACKGROUND-COLOR: #2d2f30
}

#footer .info LI SPAN {
	TEXT-ALIGN: right;
	MARGIN-TOP: -23px;
	PADDING-LEFT: 80px;
	DISPLAY: block;
	COLOR: #68bada !important;
	FONT-WEIGHT: bold
}

#footer .info LI IMG {
	MARGIN: -1px -7px 0px 0px
}

#footer .thanks LI A {
	PADDING-RIGHT: 40px;
	COLOR: #68bada;
	FONT-WEIGHT: bold
}

#footer .copyright {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #8fd401;
	COLOR: #333;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold
}

#footer .copyright .center {
	PADDING-BOTTOM: 7px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 7px
}

#footer .copyright A {
	COLOR: #447a00 !important
}

#footer .logo {
	VERTICAL-ALIGN: text-bottom
}

.ui-tooltip-nav {
	MAX-WIDTH: 280px
}

.ui-tooltip-nav .ui-tooltip-content {
	BORDER-BOTTOM: transparent 0px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: transparent 0px solid;
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #fbf7aa;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	COLOR: #915629;
	BORDER-TOP: transparent 0px solid;
	FONT-WEIGHT: bold;
	BORDER-RIGHT: transparent 0px solid;
	PADDING-TOP: 10px
}

#ui-tooltip-twitter {
	MAX-WIDTH: 290px;
	CURSOR: pointer
}

.ui-tooltip-footer {
	MIN-WIDTH: 0px;
	MAX-WIDTH: 220px
}

.ui-tooltip-caption .ui-tooltip-content {
	TEXT-ALIGN: center;
	BORDER-RIGHT-WIDTH: 2px;
	BACKGROUND-COLOR: #fcfcfc;
	BORDER-TOP-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 2px;
	COLOR: #333;
	BORDER-LEFT-WIDTH: 2px
}