.body {
	background-image:url(../images/fondosup.jpg);
	background-repeat:repeat-x;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}
.txtblanco
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:11px;
}
.footercss
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #555a60;
	#color: #555a60;
	_color: #555a60;
	*color: #555a60;
	FONT-WEIGHT: none;
	background-color:#FFFFFF;
}

.textoplomo
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #555a60;
	FONT-WEIGHT: none;
	background-color:#EDEDED;
}
.textoplomo2
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #555a60;
	FONT-WEIGHT: none;
}

.textoplomoactivacion
{
	font-family: Verdana;Tahoma;
	font-size: 9px;
	color: #555a60;
	FONT-WEIGHT: none;
}

.textorojo
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #ff0000;
	FONT-WEIGHT: none;
}
.textorojo2
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	FONT-WEIGHT: none;
}
.textorojo2
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	font-weight:bold;
	color: #FFFFFF;
	FONT-WEIGHT: none;
}
.textoazul3
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #1c4875;
	FONT-WEIGHT: none;
	font-weight:bold;
}
.textoazul4
{
	font-family: Verdana;Tahoma;
	font-size: 10px;
	color: #0b62bb;
	FONT-WEIGHT: none;
}
.boxlogin
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#706e6e;
	text-decoration:none;
	font-size:10px;
	width:150px;
	height:20px;
	border:#8d8d8d;
	border-style:solid;
	border-width:1px;
}

.boxLabel
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:red;
	text-decoration:none;
	background-color : #E3E3E3;
	font-size:10px;
	width:150px;
	height:18px;
	border:none;
	border-style:none;
	border-width:0px;
	cursor: pointer;
}
.boxcontactos
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#577072;
	text-decoration:none;
	background-color:#EDEDED;
	font-size:10px;
	border:#B2B2B2;
	border-style:solid;
	border-width:1px;
}
.boxcontactosblanco
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#577072;
	text-decoration:none;
	background-color:#FFFFFF;
	font-size:10px;
	border:#B2B2B2;
	border-style:solid;
	border-width:1px;	
}
.boxactualiza
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#577072;
	text-decoration:none;
	background-color:#f1f6f1;
	height:20px;
	font-size:10px;
	border:#b5b4b4;
	border-style:solid;
	border-width:1px;
}
.boxactualizaoff
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#577072;
	text-decoration:none;
	background-color:#e8e8e8;
	height:20px;
	font-size:10px;
	border:#b5b4b4;
	border-style:solid;
	border-width:1px;
}

.btlimpiar
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    Z-INDEX: 21;
	background-image:url(../img/bg_btn01.gif);
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: medium none;
    WIDTH: 49px;
    CURSOR: pointer;
    COLOR: #555a60;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #fff
}

.btaceptar
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    MARGIN-TOP: 5px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    Z-INDEX: 21;
	background-image:url(../images/bg_btn03.gif);
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 2px;
    BORDER-LEFT: medium none;
    WIDTH: 76px;
    CURSOR: pointer;
    COLOR: #555a60;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    BACKGROUND-REPEAT: no-repeat;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #fff
}
a.enlacerojo:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration:none;
}
a.enlacerojo:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	text-decoration:none;
}
a.enlacerojo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ea3200;
}
a.enlacerojo:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	text-decoration:none;
}

a.enlaceblancoLogin:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5b5b5b;
	*color: #5b5b5b !important;
	text-decoration:none;
}

a.enlaceblancoLogin:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5b5b5b;
	*color: #5b5b5b;
	text-decoration:none;
}
a.enlaceblancoLogin:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #e2001a;
}
a.enlaceblancoLogin:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5b5b5b;
	text-decoration:none;
}


a.enlaceblanco:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
}

a.enlaceblanco:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
}
a.enlaceblanco:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #eabc2e;
}
a.enlaceblanco:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration:none;
}
a.enlacerojo:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlacerojo:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlacerojo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF6600;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlacerojo:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}

a.enlaceplomo:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlaceplomo:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlaceplomo:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;	
}
a.enlaceplomo:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}


a.enlaceactivacion:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlaceactivacion:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}
a.enlaceactivacion:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ff0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;	
}
a.enlaceactivacion:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #555a60;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}


a.enlaceazul:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5c7d92;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5c7d92;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #4098d0;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5c7d92;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
.boton4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color: #555a60;
	background:left url(../images/bg_btn.gif);
	background-repeat:repeat;
	height: 20px;
	border:hidden;
	border-bottom-color:#89a0b0;
	border-top-color:#89a0b0;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-left-color:#b0bdc7;
	border-bottom-width:1px;
	border-collapse:collapse;
	letter-spacing:0px;
	cursor:hand;
}
a.enlaceazul2:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3075a8;
	text-decoration:underline;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3075a8;
	text-decoration:underline;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #148be2;
	text-decoration:underline;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
a.enlaceazul2:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3075a8;
	text-decoration:underline;
	padding-left:2px;
	padding-right:2px;
	font-weight:bold;
}
.tabla01 {
	border-top-color: #B2B2B2;
	border-top-style:solid;
	border-right-color: #B2B2B2;
	border-right-style:solid;
	border-bottom-color: #B2B2B2;
	border-bottom-style:solid;
	border-left-color: #B2B2B2;
	border-left-style:solid;
	list-style-type: circle;
	border-collapse:collapse;

}

.tabla01.td02{
	border-top-color: #000;
	border-top-style:solid;
	border-right-color: #fff;
	border-right-style:solid;
	border-bottom-color: #fff;
	border-bottom-style:solid;
	border-left-color: #fff;
	border-left-style:solid;
}

.tablagrilla {
	border:#FFFFFF;
}
.tdgrillaazul {
	background-color:#5e85a2;
	background-image:url(../images/bg_tabla02.gif);
	height:21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#164769;
	font-weight:normal;
	text-align:center;
}
.tdgrillaceleste {
	background-color:#dbe6eb;
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#535868;
	text-align:center;
}
.tdgrillablanco {
	background-color:#f1f6f1;
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#535868;
	text-align:center;
}

A {
	COLOR: #1d68a2; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}

P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9px; PADDING-BOTTOM: 1px; MARGIN: 0px;   PADDING-TOP: 0px; FONT-FAMILY: Verdana,sans-serif; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}

#pagination {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
#pagination A {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: white; BORDER-LEFT: #999 1px solid; 

BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none
}
#pagination A:hover {
	BACKGROUND: #3774d0; COLOR: white
}
#pagination A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#pagination SPAN {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#pagination A.pn {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#pagination A.pn B {
	FONT-WEIGHT: normal
}
#pagination A.pn:hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#pagination P {
	COLOR: #1c5683
}


/*Para el displaytag*/
table.cuerpo {
border: 0px solid #666; width: 100%; margin: 0 0 0 0;
}
table.cuerpo thead th{
	background-color:#B2B2B2;
	background-image:url(../images/bg_tabla_b2.gif);
	height:21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:normal;
	text-align:center;
	
}
table.cuerpo tr.even {
	background-color:#E3E3E3;	
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#535868;
	text-align:center;
}
table.cuerpo tr.odd {
	background-color:#EDEDED;
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#535868;
	text-align:center;
}

/*Para el boton */
.boton4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color: #555a60;
	background:left url(../images/bg_btn.gif);
	background-repeat:repeat;
	height: 20px;
	border:hidden;
	border-bottom-color:#89a0b0;
	border-top-color:#89a0b0;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-left-color:#b0bdc7;
	border-bottom-width:1px;
	border-collapse:collapse;
	letter-spacing:0px;
	cursor:hand;
}

/*Para el enlace en la grilla del OST*/
a.enlacegris:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535868;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	/*font-weight:bold;*/
}
a.enlacegris:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535868;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	/*font-weight:bold;*/
}
a.enlacegris:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	/*color: #4098d0;*/
	color: #FF0000;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	/*font-weight:bold;*/
}
a.enlacegris:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #535868;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
	/*font-weight:bold;*/
}

/*Para el botón del PopUp del OST*/
.botonDecisivoPopUp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	color: #ff0000;
	background:left url(../images/bg_btn.gif);
	background-repeat:repeat;
	height: 20px;
	border:hidden;
	border-bottom-color:#89a0b0;
	border-top-color:#89a0b0;
	border-top-width:1px;
	border-right-width:1px;
	border-left-width:1px;
	border-left-color:#b0bdc7;
	border-bottom-width:1px;
	border-collapse:collapse;
	letter-spacing:0px;
	cursor:hand;
}

/*Para el displaytag con mismo cuerpo en detalle OST*/
table.cuerpo2 {
border: 0px solid #B2B2B2; width: 100%; margin: 0 0 0 0;
}
table.cuerpo2 thead th{
	background-color:#B2B2B2;
	background-image:url(../images/bg_tabla_b2.gif);
	height:21px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #000000;
	font-weight:normal;
	text-align:center;
	
}
table.cuerpo2 tr {
	background-color:#f1f6f1;
	height:22px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#535868;
	text-align:center;
}

.tresGuiones{

	/*background-color:#BDBDBD;*/
	/*height:22px;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#BDBDBD;
	text-align:center;
	font-weight:bold;
}
.estilotabla{
	border-color:#B2B2B2;
	
	
}
.textoFueraPanel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	FONT-WEIGHT: none;
	color: #575756;
	text-decoration: none;
	border-color:#B2B2B2;	
}
	.bg-baro-izq01 {
	background-image: url(../images/img_baro_01.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	width:40px;
	height:260px;
}
.bg-baro-cent02{
	background-image:url(../images/img_bg_baro_02.jpg);
	background-repeat:repeat-x;
	vertical-align:top;
	padding-top:12px;
	width:358px;
}
.bg-baro-right03{
	background-image:url(../images/img_baro_03.jpg);
	background-repeat:no-repeat;
	width:109px;
	padding-left:12px;
	padding-bottom:29px;

	}
.bg-baro-pieizq{
	background-image:url(../images/img_bg_baro_pie01.jpg);
	background-position:right;
	background-repeat:no-repeat;
	width:45px;
	height:29px;
	}
.bg-baro-pieder{
	background-image:url(../images/img_bg_baro_pie03.jpg);
	background-position:left;
	background-repeat:no-repeat;
	width:44px;
	height:29px;
	}
.bg-baro-piecen{
	background-image:url(../images/img_bg_baro_pie02.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height:29px;
	}
.bg-baro-broja{
	background-image:
	url(../images/img_bg_baroja.jpg);
	background-repeat:repeat-y;
	}
.bg-baro-bwithe{
	background-color:#FFF;
	}
.txt-baro-negro{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	font-weight:bold;}
.txt-baro-negro2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:8px;
	color:#403f3f;
	font-weight:bold;
	padding:4px;
	border-color:#F00;
	line-height:15px;
	border-style:solid;
	border-width:1px;}
	.txt-baro-rojo{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;
	color:#ff0000;
	font-weight:bold;
}
.txt-baro-blanco{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#ffffff;
	font-weight:bold;}	
	
.dropdowns {
    background-color: #FFFFFF;
    border: 1px solid #9C9C9C;
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}	